# Name of your application. Used to uniquely configure containers.
service: homeward-tails

# Name of the container image.
image: edwinthinks/homeward-tails

# Deploy to these servers.
servers:
  web:
    - homeward-tails.eastus.cloudapp.azure.com

  # job:
  #   hosts:
  #     - 192.168.0.1
  #   cmd: bin/jobs

# Enable SSL auto certification via Let's Encrypt (and allow for multiple apps on one server).
# If using something like Cloudflare, it is recommended to set encryption mode 
# in Cloudflare's SSL/TLS setting to "Full" to enable end-to-end encryption. 
proxy: 
  ssl: true
  host: homeward-tails.eastus.cloudapp.azure.com
  # kamal-proxy connects to your container over port 80, use `app_port` to specify a different port.
  # app_port: 3000

# Credentials for your image host.
registry:
  # Specify the registry server, if you're not using Docker Hub
  # server: registry.digitalocean.com / ghcr.io / ...
  #
  # [edwin] - You need to set this up registry up which is an annoying part
  # but sounds like they are planning to remove this intermediatary. The point
  # of this is
  username: edwinthinks

  # Always use an access token rather than real password (pulled from .kamal/secrets).
  password:
    - KAMAL_REGISTRY_PASSWORD

# Configure builder setup.
builder:
  arch: amd64
  # [edwin] - Using a remote builder can be faster especially if you are on a different architecture.
  # For example, I use a Macbook (ARM64) but we want to deploy to Ubuntu (AMD64). This speeds it up
  # but assumes you already setup SSH access to the server
  remote: ssh://deploy@homeward-tails.eastus.cloudapp.azure.com

# Inject ENV variables into containers (secrets come from .kamal/secrets).
#
env:
  clear:
    PORT: 80
  secret:
    - RAILS_MASTER_KEY
    - DB_HOST
    - DB_USER
    - DB_PASSWORD

# Aliases are triggered with "bin/kamal <alias>". You can overwrite arguments on invocation:
# "bin/kamal logs -r job" will tail logs from the first server in the job section.
#
# aliases:
#   shell: app exec --interactive --reuse "bash"

# Use a different ssh user than root
#
ssh:
  user: deploy

  keys: [ "~/.ssh/homeward_tails_rsa.pem" ]

# Use a persistent storage volume.
#
# volumes:
#   - "app_storage:/app/storage"

# Bridge fingerprinted assets, like JS and CSS, between versions to avoid
# hitting 404 on in-flight requests. Combines all files from new and old
# version inside the asset_path.
#
# asset_path: /app/public/assets

# Configure rolling deploys by setting a wait time between batches of restarts.
#
# boot:
#   limit: 10 # Can also specify as a percentage of total hosts, such as "25%"
#   wait: 2

# Use accessory services (secrets come from .kamal/secrets).
#
# accessories:
#   db:
#     image: mysql:8.0
#     host: 192.168.0.2
#     port: 3306
#     env:
#       clear:
#         MYSQL_ROOT_HOST: '%'
#       secret:
#         - MYSQL_ROOT_PASSWORD
#     files:
#       - config/mysql/production.cnf:/etc/mysql/my.cnf
#       - db/production.sql:/docker-entrypoint-initdb.d/setup.sql
#     directories:
#       - data:/var/lib/mysql
#   redis:
#     image: redis:7.0
#     host: 192.168.0.2
#     port: 6379
#     directories:
#       - data:/data
